.heart {
  height: 1em;
  margin-right: 0.25em;
  width: 1em;
}

$danger: #d9534f;

.statistics {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;

  .counter {
    align-items: center;
    display: flex;

    span {
      margin-right: 1ch;
    }
  }

  @keyframes text-color-animation {
    25% {
      color: $danger;
    }
    50% {
      color: $danger;
    }
  }

  @keyframes background-color-animation {
    25% {
      background-color: $danger;
    }
    50% {
      background-color: $danger;
    }
  }

  .word-count-enter-active {
    animation-duration: 1000ms;
    animation-name: text-color-animation;

    .label {
      animation-duration: 1000ms;
      animation-name: background-color-animation;
    }
  }
}
