$white: white;
$gray: #222;

.app {
  text-align: center;
}

.app-header {
  background-color: $gray;
  color: $white;
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
  margin: 0 auto;
  max-width: 600px;
}
